body {
  background: #ddd;
  color: black;
}

.flex-container {
  z-index: 2;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 15em;
  width: 85%;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 35px gray;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 1.5vw;
  margin-left: 25px;
  margin-top: -15px;
}

.header_box {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 100%;
  margin: 10px;
}

.header_box .column {
  flex: 1 auto;
  align-self: center;
}

.header_box .profile_pic {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex: 1 20%;
  margin: 6px;
}

div img {
  display: block;
  width: 12vw;
  min-width: 120px;
  height: 12vw;
  min-height: 120px;
  border-radius: 50%;
}

.flex-item {
  flex: 1 0 auto;
  align-items: baseline;
  margin: 5px;
}

section.flex-item {
  flex: 0 47%;
}

footer {
  z-index: 1;
  color: white;
  box-sizing: border-box;
  position: fixed;
  text-align: center;
  bottom: 2.75em;
  width: 100%;
}

a {
  color: inherit;
}

polaroid {
  text-align: center;
}
