<!--Contact Me!!! -->
<footer id="contact_me">
  <p>Drop Me a Line!</p>
  <a href="https://www.facebook.com/{{ site.author.facebook }}">
    <i class="fa fa-facebook-official fa-3x" aria-hidden="false"></i>
  </a>
  <a href="https://twitter.com/{{ site.author.twitter }}">
    <i class="fa fa-twitter-square fa-3x" aria-hidden="false"></i>
  </a>
  <a href="https://www.linkedin.com/in/{{site.author.linkedin}}/">
    <i class="fa fa-linkedin-square fa-3x" aria-hidden="false"></i>
  </a>
  <a href="https://www.instagram.com/{{site.author.instagram}}/">
    <i class="fa fa-instagram fa-3x" aria-hidden="false"></i>
  </a>
  <a href="https://open.spotify.com/user/{{site.author.spotify}}">
    <i class="fa fa-spotify fa-3x" aria-hidden="false"></i>
  </a>
</footer>
