<!--
Header includes "profile" pic, name, nav
-->

<section class="header_box" id="home">
  <!-- Profile-Type Pic -->
  <div class="prof_pic">
    <a href='#'><img id="prof_pic" src='https://lh3.googleusercontent.com/gARJ7zk4WdB1rULoOR4xU9YdX3znr-i1da5-seQe1k3CGZh9xuornFQfxqp9t9LnKqVQck2JGPzKHA6Ou7P-5o3KHGPdbZJqwuJUoDiHP4VQBTZi-cKPtYYIkSGeGL5qDjoNrlo' /></a>
  </div>
  <!-- Name Header & Perhaps Later Nav? -->
  <div class="header_text_box">
    <h1>Joshua Soucie</h1>
    <!-- This may become NAV later -->
    <h2 class="text-muted">Engineer, Hacker, Entrepreneur, Globetrotter</h2>
  </div>

</section>
